@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: geist;
  src: url(./assets/fonts/GeistVariableVF.ttf);
}

html {
  scroll-behavior: smooth;
}

.logo_style {
  border-radius: 8px;
  border: 1px solid #eceef4;
  background: linear-gradient(180deg, #d7d7e4 -6.25%, #f9f9fb 100%);
  box-shadow: 0px 0px 0px 1px #f6f6f9;
}

body {
  font-family: geist;
}

.nav_button {
  border-radius: 8px;
  border: 1px solid #72BCFD;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(9, 103, 188, 0.20) 71.35%), #0067C2;
  box-shadow: 0px 0px 0px 1px #0256A2;
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 320px) {
  .nav_button {
    padding: 4px 8px;
  }

  .nav_button p {
    font-size: 0.65rem;
  }
}

.nav_border {
  border-radius: 16px;
}

.header_background {
  border-radius: 28px;
  border: 1px solid var(--Gray-cool-200, #dcdfea);
  /* background: var(--Gray-cool-50, #f9f9fb); */
}

.project_images:nth-child(even) {
  flex-direction: row-reverse;
}

.tab-mid-border {
  background: linear-gradient(
    rgba(220, 223, 234, 0),
    rgba(125, 137, 176, 1),
    rgba(220, 223, 234, 0)
  );
}

.dynamicHeight {
  min-height: 100vh;
}

@supports (height: 100dvh) {
  .dynamicHeight {
    min-height: 100dvh;
  }
}

.loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-loader {
  background-color: "#101010";
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}
/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}
.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}

.dock-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-track {
  max-width: 350px !important;
}
.slick-slide div {
  display: flex !important;
}